<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>
    <div th:fragment="credentials" class="table-responsive">
        <table class="table table-striped" id="credentialTable">
            <thead>
            <tr>
                <th style="width: 20%" scope="col"></th>
                <th style="width: 35%" scope="col">URL</th>
                <th style="width: 20%" scope="col">Username</th>
                <th style="width: 25%" scope="col">Password</th>
            </tr>
            </thead>
            <tbody th:each="credential:${credentials}" id="credentials-table-body">
            <tr>
                <td>
                    <!-- UPDATE Credentials -->
                    <button type="button" class="btn btn-success">Edit</button>

                    <!-- DELETE Credentials -->
                    <a class="btn btn-danger">Delete</a>
                </td>
                <th id="table-credential-url" th:text="${credential.getUrl()}" scope="row">Example Credential URL</th>
                <td th:text="${credential.getUsername()}">Example Credential Username</td>
                <td th:text="${credential.getPassword()}">Example Credential Password</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>