<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>

    <div th:fragment="notes" class="table-responsive">
        <table class="table table-stripped" id="userTable">
            <thead>
            <tr>
                <th style="width: 20%" scope="col"></th>
                <th style="width: 20%" scope="col">Title</th>
                <th style="width: 20%" scope="col">Description</th>
            </tr>
            </thead>
            <tbody th:each="note:${notes}" id="notes-table-body">
            <tr>
                <td>
                    <button type="button" class="btn btn-success"
                            id="edit-note-button"
                            th:note-title="${note.getNoteTitle()}"
                            th:note-description="${note.getNoteDescription()}"
                            th:note-id="${note.getNoteId()}"
                            onclick="showEditNoteModal(this.getAttribute('note-id'),
                                                   this.getAttribute('note-title'),
                                                   this.getAttribute('note-description'))">
                        Edit
                    </button>
                    <button type="button" class="btn btn-danger" id="delete-note-button"
                            th:note-id="${note.getNoteId()}"
                            onclick="showDeleteNoteModal(this.getAttribute('note-id'))">
                        Delete
                    </button>
                </td>
                <th id="table-note-title" th:text="${note.getNoteTitle()}" scope="row">Example Note Title</th>
                <td th:text="${note.getNoteDescription()}">Example Note Description</td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>